@model IEnumerable<Alumno>

@{
    ViewData["Title"] = "Información Alumno";
}

<div class="text-center">
    <h1 class="display-4"> @ViewData["Title"]</h1>

    <strong>Vista Parcial</strong>
    <h2>La cantidad de Alumnos en página es @ViewBag.CantidadAlumno</h2>
    
    <partial name="ListaObjetoEscuelaSimple"></partial>
</div>

