@model Asignatura

@{
    ViewData["Title"] = "Información Asignatura";
}

<div class="text-center">
    <h1 class="display-4"> @ViewData["Title"]</h1>
    
    <strong>Vista normal</strong>
    <p>
        Nombre: @Model.Name
        </br>
        Id: @Model.Id
    </p>

    <strong>Vista Parcial</strong>
    <partial name="ObjetoEscuelaSimple"/>

</div>

